<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="admin-crm">AdminCrm</a></li>
  <li><a routerLink="setting-crm">SettingCrm</a></li>
</ul>
<router-outlet></router-outlet>
